<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SCI 6485 Final Project</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Adding Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <!-- Adding Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Custom CSS -->
    <!-- <link href="../static/styles/index.css" rel="stylesheet" /> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/index.css') }}"
    />
  </head>

  <body>
    <center>
      <div class="container">
        <h1 class="large-text">Draw your facade!</h1>
        <br /><br />
        <img
          src="../static/assets/base_img.png"
          alt=""
          srcset=""
          style="width: 100%"
        />
        <br />

        <label class="medium-text" for="pwd">Upload Your Image :</label>

        <form
          class="form-horizontal text-center"
          action="/submit2"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="form-group">
            <div class="col">
              <select name="select-gan" id="gan">
                <option
                  selected
                  disabled
                  value=""
                  style="color: black !important"
                >
                  Select an option
                </option>
                {%if result == "001"%}
                <option selected value="Test_001">
                  Change main facade to stone
                </option>
                {% else %}
                <option value="Test_001">Change main facade to stone</option>
                {% endif %} {%if result == "002"%}
                <option selected value="Test_002">
                  Change other facade to stone
                </option>
                {% else %}
                <option value="Test_002">Change other facade to stone</option>
                {% endif %} {%if result == "003"%}
                <option selected value="Test_003">Increase window size</option>
                {% else %}
                <option value="Test_003">Increase window size</option>
                {% endif %}
              </select>
            </div>

            <img src="{{pre_img_path}}" alt="" srcset="" id="gan-test" />
          </div>

          <div class="form-group">
            <div class="col">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </div>
        </form>

        {%if result%}
        <img src="{{img_path}}" alt="" srcset="" width="600px" />

        <h3>Details:</h3>
        {{details}}
        <br />

        {% endif %}
      </div>
    </center>
    <br />
    <br />
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="static/scripts/index2.js"></script>
  </body>
</html>
